@use "sass:map";

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xl2: 1536px;

$breakpoints: (
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl,
	"2xl": $xl2,
);

@mixin min-width($size) {
	$val: map.get($breakpoints, $size);
	@if $val == null {
		@error "Unknown breakpoint `#{$size}`. Available: #{map.keys($breakpoints)}";
	}
	@media (min-width: #{$val}) {
		@content;
	}
}
