$white: #FFFFFF;
$black: #212121;
$gray-500: #5A5A65;
$gray-400: #E1E4E8;
$gray-100: #F7F7F7;
$gray-700: #4D4D4D;
$gray-300: #DDDDDD;
$red-300: #FFDCE0;
$border-wrapper-color: rgba(0,0,0,0.05);
$border-card-color: rgba(0, 0, 0, 0.07);