@use '../../../styles/media';
@use '../../../styles//variables';

.tasks_board {
  padding: 16px;

  @include media.min-width(lg) {
    padding: 20px 20px 48px;
  }
}

.board {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
  padding: 12px;

  @include media.min-width(md) {
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
 }
}

.week {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.week_wrapper {
  padding: 16px 12px 12px;
}

.task {
  min-width: 284px;
  padding: 12px 16px
}

.stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.avatars {
  margin-bottom: 8px;
}