:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Global color palette */
  --white: #FFFFFF;
  --black: #212121;
  --gray-500: #5A5A65;
  --gray-400: #E1E4E8;
  --gray-100: #F7F7F7;
  --gray-700: #4D4D4D;
  --gray-300: #DDDDDD;
  --red-300: #FFDCE0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: var(--white);
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
