@use './styles/variables';

:root {
  --font-sans: "Inter";
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: variables.$white;
  color: variables.$black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
