@use '../../styles//variables';

.badge {
  &_label {
    background-color: variables.$gray-400;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.2px;
    border-radius: 20px;
    padding: 4px 12px;
    color: variables.$gray-700;
  }

  &_tag {
    background-color: variables.$red-300;
    color: variables.$gray-700;
    font-weight: 14px;
    line-height: 100%;
    letter-spacing: -0.4px;
    padding: 4px 10px;
    border-radius: 8px;
  }
}